{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <div class="media">
            <div class="media-body">
                <h2 class="account-heading">
                    {{ current_user.username }}
                    <a href="{{ url_for('delete_user', user_id=current_user.id) }}">
                        <button type="button" class="btn btn-danger btn-sm m-1 btn float-right">Delete Account</button>
                    </a>
                </h2>
                <p class="text-secondary">{{ current_user.email }}</p>
            </div>
        </div>
    </div>
    <div class="content-section">
        <h4>My questions:</h4>
        {% for post in posts %}
            {% if post.author == current_user %}
                <article class="media content-section">
                    <div class="media-body">
                        <h2>
                            {{ post.title }}
                            <a href="{{ url_for('delete_post', post_id=post.id) }}">
                                <button type="button" class="btn btn-danger btn-sm m-1 btn float-right">Delete</button>
                            </a>
                        </h2>
                        <p class="article-content">{{ post.content }}</p>
                        {% for answer in post.answers %}
                            <div class="article-metadata">
                                <a class="mr-2" href="#">{{ answer.author.username }}</a>
                                <small class="text-muted">on {{ answer.date_posted.strftime('%d/%m/%Y') }}</small>
                            </div>
                            <small class="">{{ answer.content }}
                                {% if answer.author == current_user %}
                                    <a href="{{ url_for('delete_answer', answer_id=answer.id) }}">
                                        <button type="button" class="btn btn-danger btn-sm m-1 btn float-right">Delete</button>
                                    </a>
                                {% endif %}
                            </small>
                        {% endfor %}
                    </div>
                </article>
            {% endif %}
        {% endfor %}
    </div>
{% endblock content %}